<% if SolidusI18n::Config.available_locales.many? %>
  <li id="locale-selector" class="visible-md-inline visible-lg-inline">
    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenuLanguage">
      <%= I18n.locale.to_s.upcase %><span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuLanguage">
      <% available_locales_options.each do |locale| %>
          <%= content_tag(:li, :class => (I18n.locale == locale[1])? 'active' : nil, role: 'presentation') do %>
              <%= link_to set_locale_path(:switch_to_locale => locale[1]), :tabindex => -1 do %>
                 <%= image_tag(flag_image_url(locale[1])) %>&nbsp;<%= locale[0].split(' ')[0] %>
              <% end %>
           <% end %>
      <% end %>
    </ul>
    <%= form_tag(set_locale_path) do %>
        <noscript>
          <%= submit_tag %>
        </noscript>
    <% end %>
  </li>
<% end %>
